@charset "UTF-8";

:root{
    --cor01: #F7F7F7;
    --cor02: #9c7d44;
    --cor03: #1c3761;
    --cor04: #348791;
    --cor05: #9b3852;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: var(--cor03);
}
header{
    background-color: var(--cor04);
    padding: 10px;
    text-align: center;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.384);
}
header > h1{
    color: white;
}
header > p > a{
    color: var(--cor01);
    font-weight: bold;
    text-decoration: none;
}
header > p > a:hover{
    text-decoration: underline;
}
header > nav{
    text-align: start;
    margin-top: 20px;
}
header > nav > a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 5px;
}
header > nav > a:hover{
    background-color: #ffffff;
    transition-duration: 0.4s;
    color: var(--cor04);
}
#clear_box{
    margin-top: 20px;
    margin-bottom: 25px;
}
#clear{
    background-color: rgb(226, 226, 226);
    padding: 10px;
    color: black;
    border-radius: 30px;
    font-weight: bold;
    text-decoration: none;
}
#principal2{
    text-align: start;
}
main{
    background-color: black;
    padding: 10px;
    min-width: none;
    max-width: 600px;
    margin: auto;
    text-align: justify;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.384);
    color: white;
}
main > section > article > p{
    text-indent: 30px;
}
#imagem{
    display: block;
    text-align: center;
}
.link_contato{
    font-weight: bold;
    text-decoration: none;
    color: blue;
}
.link_contato:hover{
    color: var(--cor03);
    text-decoration: underline;
}
#buttom{
    background-color: white;
    width: 220px;
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    margin: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);    
}
#buttom > a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor05);
}
#botao_github{
    text-align: center;
    margin-bottom: 5px;
}
#botao_github > a{
    text-decoration: none;
    font-weight: bold;
    color: blue;
}
#botao_github > a:hover{
    text-decoration: underline;
    color: #3e68ad;
}
#login_buttom{
    text-align: center;
    margin: 15px 0px 10px 0px;
    background-color: var(--cor04);
    border-style: solid;
    width: 120px;
    border-radius: 5px;
    border-width: 2px;
    padding: 5px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
#login_buttom > a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}
footer > p{
    background-color: var(--cor02);
    text-align: center;
    padding: 3px;
    color: white;
    font-weight: bold;
}